.img-border {
    border-radius: 2px;
}

#about_img {
    min-height: 50vh;
    background: linear-gradient(to right, rgb(226, 40, 51, 0.4), rgb(226, 40, 51, 0.2)), url("../img/about.jpg") center center;
    background-size: cover;
}

#team_img {
    min-height: 50vh;
    background: linear-gradient(to right, rgb(226, 40, 51, 0.4), rgb(226, 40, 51, 0.2)), url("../img/team.jpg") center center;
    background-size: cover;
}